<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Cadastrar Agendamento</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field id="clientes" class="input">
      <mat-label for="selClientes">Cliente</mat-label>
      <mat-select [(ngModel)]="clienteId">
        <mat-option *ngFor="let cliente of clientes" value="{{ cliente.id }}"
          >{{ cliente.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="artistas" class="input">
      <mat-label for="selArtistas">Artista</mat-label>
      <mat-select [(ngModel)]="artistaId">
        <mat-option *ngFor="let artista of artistas" value="{{ artista.id }}"
          >{{ artista.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input" id="localDaTattoo">
      <mat-label for="localDaTattoo">Local Da Tattoo:</mat-label>
      <input
        matInput
        type="text"
        name="localDaTattoo"
        [(ngModel)]="localDaTattoo"
      />
    </mat-form-field>

    <mat-form-field id="dataAgendamento" class="input">
      <mat-label for="txtData">Data do agendamento:</mat-label>
      <input matInput type="date" id="txtData" [(ngModel)]="dataAgendamento" />
    </mat-form-field>
  </mat-card-content>

  <button
    mat-raised-button
    color="accent"
    id="btnCadastrar"
    (click)="cadastrar()"
  >
    Cadastrar
  </button>
</mat-card>
<!-- <h3 class="erro">
      {{ mensagem }}
    </h3>
  </div> -->
